@charset "UTF-8";
.topbar{
  width: 800px;
  margin: 0 auto;
  height: auto;
}

.article-warp{
  width: 800px;
  margin: 0 auto;
  .article-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    .article-info{
      display: flex;
      align-items: center;
      .author-photo{
        /*头像*/
        img{
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }
      .author-name{
        color: #b2b2b2; 
        font-family: 楷体;
        /*作者信息*/
        flex: 1;
        display: flex;
        div{
          display: inline-block;
          margin: 0 5px;
        }
        div:last-child{
          flex: 1;
          position: relative;
        }
      }
    }
    .article-body{
      padding: 10px 0;
      letter-spacing: 2px;
      line-height: 1.5rem;
      color: #b2b2b2;
    }
  }
}
.moreDiv{
  width: 800px;
  margin: 50px auto;
  .more{
    background-color: #F7F7F7;
    padding: 5px 35px;
    border-radius: 30px;
    margin-left: 380px;
    color: #060606;
    font-size: 14px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    &:hover{
      background-color: #b2b2b2;
    }
  }
}

.footerCenter{
  width: 800px;
}
