@charset "UTF-8";
#warp {
  animation-duration: 4s;
  -webkit-animation-duration: 4s;
  /* Safari 和 Chrome */
}

.banner {
  /*banner图片*/
  border: 5px rebeccapurple;
  height: 464px;
  position: relative;
  color: black;
  overflow: hidden;
}
.banner .banner-item {
  display: none;
  height: 464px;
}
.banner .banner-item:first-child {
  display: block;
}
.banner .banner-item img {
  width: 100%;
  height: auto;
}

.bannenr-bar {
  text-align: center;
  margin-top: 20px;
  height: 20px;
}
.bannenr-bar .bar-item {
  width: 40px;
  height: 3px;
  background-color: aliceblue;
  border-radius: 8px;
  display: inline-block;
  margin: 0 4px;
  cursor: pointer;
}
.bannenr-bar .bar-cur {
  background-color: #ffdc5e;
}

.talk {
  height: auto;
  margin: 160px 0;
}
.talk .talk-content {
  margin: 0 auto;
  width: 450px;
  font-size: 16px;
  line-height: 1.8rem;
  text-align: center;
}
.talk .talk-content i {
  font-size: 30px;
  color: #dedddd;
}
.talk .talk-title {
  font-size: 24px;
  color: black;
  text-align: center;
  border-bottom: 1px solid #dedddd;
  padding-bottom: 10px;
  width: 115px;
  margin: 0 auto;
  margin-top: 56px;
}

.content-box {
  width: 1090px;
  background-color: #fbfbfb;
}
.content-box .content-slogan {
  font-family: 楷体;
  font-size: 30px;
  margin-left: 15%;
  margin-bottom: 32px;
}
.content-box .content {
  min-width: 1200px;
  /*文章内容块*/
}
.content-box .content .content-item {
  display: inline-block;
  width: 450px;
  height: 366px;
  margin-bottom: 28px;
  border: 1px solid #b2b2b2;
  padding: 20px;
  background-color: White;
  color: gray;
  overflow: hidden;
}
.content-box .content .content-item .author-box .content_photo {
  border-radius: 50%;
  margin-right: 14px;
}
.content-box .content .content-item .author-box .content-author {
  height: 40px;
  line-height: 40px;
  position: relative;
  top: 50%;
  color: #b3b1b1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content-box .content .content-item .content-title {
  font-size: 24px;
  margin: 16px 0;
  color: black;
  line-height: 1.6em;
}
.content-box .content .content-item .content-body {
  /*文章快主体*/
  line-height: 1.8em;
  font-size: 16px;
  color: #5d5b5b;
}
.content-box .content .content-item:hover {
  box-shadow: 3px 3px 3px #dcdcdc;
}
.content-box .content-more a {
  background-color: #dcdcdc;
  margin-left: 15%;
  padding: 5px 35px;
  border-radius: 30px;
  color: #000000;
  font-size: 32px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  display: block;
  width: 20px;
  text-align: center;
}

.content-warp {
  background-color: #fbfbfb;
  padding: 70px 0;
}
.content-warp .content-box {
  width: 1096px;
  height: auto;
  margin: 0 auto;
}
.content-warp .content-box .content-slogan {
  font-size: 30px;
  margin-left: 28px;
  margin-bottom: 32px;
}
.content-warp .content-box .box::after {
  content: ".";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
  overflow: hidden;
}
.content-warp .content-box .box .content-item {
  display: block;
  width: 490px;
  height: 360px;
  float: left;
  margin-right: 35px;
  margin-bottom: 28px;
  text-decoration: none;
  border: 1px solid #f3f3f3;
  padding: 20px;
  background-color: White;
  color: gray;
  overflow: hidden;
}
.content-warp .content-box .box .content-item:hover {
  box-shadow: 2px 5px 8px 0 #e8e8e8;
}
.content-warp .content-box .box .content-item .author-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 14px;
  float: left;
}
.content-warp .content-box .box .content-item .author-name {
  height: 40px;
  line-height: 40px;
  color: #b3b1b1;
  overflow: hidden;
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.content-warp .content-box .box .content-item .content-title {
  font-size: 24px;
  margin: 16px 0;
  color: black;
  line-height: 1.6em;
}
.content-warp .content-box .box .content-item .content-body {
  line-height: 1.8em;
  font-size: 16px;
  color: #5d5b5b;
}
.content-warp .content-box .content-more {
  text-decoration: none;
  background-color: #dcdcdc;
  padding: 5px 35px;
  border-radius: 30px;
  margin-left: 30px;
  color: #000000;
  font-size: 32px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  display: block;
  width: 20px;
  text-align: center;
}

.content-bottom {
  height: auto;
  margin: 158px auto;
  font-size: 20px;
  text-align: center;
}

.footer {
  margin-top: 80px;
  background-color: whitesmoke;
}

.footerCenter {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 180px;
  width: 1096px;
}
.footerCenter .links {
  margin-bottom: 16px;
}
.footerCenter .links a {
  margin-right: 22px;
  color: #060606;
}

/*# sourceMappingURL=index.css.map */
